## Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")

## Importing Dataset

In [2]:
df = pd.read_csv("data.csv")
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

## Cleaning Data

#### Missing Values

In [3]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [4]:
df['admission_source_id'] = df['admission_source_id'].astype(str)
df['discharge_disposition_id'] = df['discharge_disposition_id'].astype(str)
df['admission_type_id'] = df['admission_type_id'].astype(str)
df.describe(include=object)

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,payer_code,medical_specialty,diag_1,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
count,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766,...,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766
unique,6,3,10,10,8,26,17,18,73,717,...,1,4,4,2,2,2,2,2,2,3
top,Caucasian,Female,[70-80),?,1,1,7,?,?,428,...,No,No,No,No,No,No,No,No,Yes,NO
freq,76099,54708,26068,98569,53990,60234,57494,40256,49949,6862,...,101766,47383,101060,101753,101765,101764,101765,54755,78363,54864

In [5]:
l = list(df.weight)
l.count('?')/len(l) * 100

96.85847925633315

In [6]:
l = list(df.race)
l.count('?')/len(l) * 100

2.2335554114340743

In [7]:
l = list(df.payer_code)
l.count('?')/len(l)

0.395574160328597

In [8]:
l = list(df.medical_specialty)
l.count('?')/len(l) * 100

49.08220820313268

In [9]:
l = list(df.diag_1)
l.count('?')/len(l) * 100

0.02063557573256294

In [10]:
l = list(df.diag_2)
l.count('?')/len(l) * 100

0.3517874339170253

In [11]:
l = list(df.diag_3)
l.count('?')/len(l) * 100

1.398305917497003

In [12]:
l = list(df.admission_type_id)
miss = l.count("5")+l.count("6")+l.count("8")+l.count('?')
miss/len(l) * 100

10.21559263408211

In [13]:
l = list(df.discharge_disposition_id)
miss = l.count("17")+l.count("24")+l.count("25")+l.count('?')
miss/len(l) * 100

1.0327614330916022

In [14]:
l = list(df.admission_source_id)
miss = l.count("9")+l.count("15")+l.count("16")+l.count("19")+l.count("20")+l.count('?')
miss/len(l) * 100

0.2810368885482381

<b> Since the column "weight" has almost 97% missing values, We choose to drop the column. Since it might lead to inaccurate predictions. </b>

In [15]:
del df["weight"]
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,?,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,?,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,?,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,?,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,?,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

<b> Replacing the Null values of columns with less than 5% Missing Values with the Columns' Mode </b>

In [16]:
df['diag_1'].replace('?',df['diag_1'].describe()['top'],inplace=True)

In [17]:
df.diag_1.describe()

count     101766
unique       716
top          428
freq        6883
Name: diag_1, dtype: object

In [18]:
df['diag_2'].replace('?',df['diag_2'].describe()['top'],inplace=True)

In [19]:
df.diag_2.describe()

count     101766
unique       748
top          276
freq        7110
Name: diag_2, dtype: object

In [20]:
df['diag_3'].replace('?',df['diag_3'].describe()['top'],inplace=True)

In [21]:
df.diag_3.describe()

count     101766
unique       789
top          250
freq       12978
Name: diag_3, dtype: object

In [22]:
df['race'].replace('?',df['race'].describe()['top'],inplace=True)

In [23]:
df.race.describe()

count        101766
unique            5
top       Caucasian
freq          78372
Name: race, dtype: object

In [24]:
df['discharge_disposition_id'].replace('?',df['discharge_disposition_id'].describe()['top'],inplace=True)
df.discharge_disposition_id.describe()

count     101766
unique        26
top            1
freq       60234
Name: discharge_disposition_id, dtype: object

In [25]:
df['admission_source_id'].replace('?',df['admission_source_id'].describe()['top'],inplace=True)
df.admission_source_id.describe()

count     101766
unique        17
top            7
freq       57494
Name: admission_source_id, dtype: object

In [26]:
df.describe(include=object)

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,payer_code,medical_specialty,diag_1,diag_2,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
count,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766,...,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766
unique,5,3,10,8,26,17,18,73,716,748,...,1,4,4,2,2,2,2,2,2,3
top,Caucasian,Female,[70-80),1,1,7,?,?,428,276,...,No,No,No,No,No,No,No,No,Yes,NO
freq,78372,54708,26068,53990,60234,57494,40256,49949,6883,7110,...,101766,47383,101060,101753,101765,101764,101765,54755,78363,54864

<i>Since the Payment Method does not affect the Readmission Rate, we are neglecting it from the dataset for Prediction </i>

In [27]:
del df['payer_code']
df.describe(include=object)

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,medical_specialty,diag_1,diag_2,diag_3,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
count,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766,...,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766
unique,5,3,10,8,26,17,73,716,748,789,...,1,4,4,2,2,2,2,2,2,3
top,Caucasian,Female,[70-80),1,1,7,?,428,276,250,...,No,No,No,No,No,No,No,No,Yes,NO
freq,78372,54708,26068,53990,60234,57494,49949,6883,7110,12978,...,101766,47383,101060,101753,101765,101764,101765,54755,78363,54864

<b>Observing the Mode of "medical_specialty" without the Missing Values</b>

In [28]:
ms = df.medical_specialty.replace('?',np.nan).dropna()
print(ms.describe())

count                51817
unique                  72
top       InternalMedicine
freq                 14635
Name: medical_specialty, dtype: object

<b>Taking the case of dropping "medical_specialty" due to it having almost 50% missing values</b>

In [29]:
d = df[['encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital','num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted']]

In [30]:
d.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [31]:
d.describe(include=object)

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,diag_1,diag_2,diag_3,max_glu_serum,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
count,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766,...,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766
unique,5,3,10,8,26,17,716,748,789,4,...,1,4,4,2,2,2,2,2,2,3
top,Caucasian,Female,[70-80),1,1,7,428,276,250,None,...,No,No,No,No,No,No,No,No,Yes,NO
freq,78372,54708,26068,53990,60234,57494,6883,7110,12978,96420,...,101766,47383,101060,101753,101765,101764,101765,54755,78363,54864

#### Label Encoding

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
enc = LabelEncoder()

List of Columns to perform Label Encoding

In [59]:
cat_cols = ['race', 'gender','age','max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted','diag_1','diag_2','diag_3']

In [60]:
for i in cat_cols:
    d[i] = enc.fit_transform(d[i])

In [61]:
d.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,2,0,0,6,25,1,1,41,...,0,1,1,0,0,0,0,1,0,2
1,149190,55629189,2,0,1,1,1,7,3,59,...,0,3,1,0,0,0,0,0,1,1
2,64410,86047875,0,0,2,1,1,7,2,11,...,0,1,1,0,0,0,0,1,1,2
3,500364,82442376,2,1,3,1,1,7,2,44,...,0,3,1,0,0,0,0,0,1,2
4,16680,42519267,2,1,4,1,1,7,1,51,...,0,2,1,0,0,0,0,0,1,2

In [63]:
cat_ids = dict()
for i in cat_cols:
    cat_ids[i] = dict()
    unique = list(df[i].unique())
    unique.sort()
    for j in range(len(unique)):
        cat_ids[i][j] = unique[j]

Converting all columns into integers to make it feasible for prediction models

In [65]:
d.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses',
       'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide',
       'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide',
       'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose',
       'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton',
       'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [70]:
for i in list(d.columns):
    d[i] = d[i].astype(np.int64)

In [72]:
d.to_csv("Clean-Model-Data.csv",index=False)